{% extends "auth_base.html" %}
{% block auth_title %}Create admin user{% endblock %}
{% block auth_content %}
<form method="post" action="{{ url_for('create_admin_user') }}">
    <label>Display name<input name="display_name" autocomplete="name"></label>
    <label>Username<input name="username" autocomplete="username" required autofocus></label>
    <label>Password<input name="password" type="password" autocomplete="new-password" minlength="10" required></label>
    <label>Confirm password<input name="confirm_password" type="password" autocomplete="new-password" minlength="10" required></label>
    <button type="submit">Create admin</button>
</form>
{% endblock %}
